@font-face {
  font-family: "JakartaSans";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

:root{
  font-family: "JakartaSans";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsl(228, 33%, 97%);
}

.mainWrapper{
  max-width: 800px;
  width: 95%;
  margin: auto;
  margin-top: 50px;
}

.baseBox{
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.addComment{
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  gap: 10px;

  img{
    width: 100%;
  }

  textarea{
    height: 80px;
    resize: none;
    padding: 5px
  }

  button{
    height: 40px;
    background: hsl(238, 40%, 52%);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
  }
}


.commentWrapper{
  display: grid;
  grid-template-columns: 50px 1fr;

  section{
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      div{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
          width: 40px;
        }
      }
    }
  }
}